* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 8px;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #1e0533 0%, #2d1b69 25%, #4a5fc1 50%, #6a82fb 75%, #8b5cf6 100%);
    padding: 20px;
}

/* Game Title */
.game-title {
    font-family: 'UnifrakturMaguntia', 'Old English Text MT', 'Blackletter', serif;
    text-align: center;
    color: #f2f2f2;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.topnav {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: stretch;
}

/* Style the links inside the navigation bar */
.topnav a {
    flex: 1;              /* each link takes equal width */
    text-align: center;
    color: #f2f2f2;
    padding: 14px 0;      /* remove horizontal padding */
    text-decoration: none;
    font-size: 17px;
    font-family: 'UnifrakturMaguntia', 'Old English Text MT', 'Blackletter', serif;


}

/* Change the color of links on hover */
.topnav a:hover {
    background: radial-gradient(circle at center, #ffedba44 0%,#ff9b0044 70%,transparent 100%);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background: radial-gradient(circle at center,
        #fff3b0 0%,
        #ffd36a 25%,
        #ff9b00 50%,
        #ff3c00 75%,
        #5c0000 100%
    );
  color: black;
}

.game-image {
   display: block;
   margin: 20px auto;
   max-width: 600px;
   width: 100%;
   height: auto;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gameDescription {
   text-align: center;
   max-width: 400px;
   margin: 0 auto;
   font-size: 17px;
   font-family: 'UnifrakturMaguntia', 'Old English Text MT', 'Blackletter', serif;
}

.sub-title {
    color:white;
    text-align: center;
    margin-top: 40px;
    margin-bottom:15px;
}

/*Styling for the team cards*/
.card-color {
    background-color: rgb(30, 5, 51, 0.7);
    color:white;
}
.card-container {
    display:flex;
    justify-content: center;
    gap: 100px;
}

.team-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 20%;
  height: 100%;
  margin: 20px;
  background-color: gray;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.robert {
    height: min-content;
}
